body {
    margin: 0;
    --primary-color: #FCFCFC;
    --accent-color: #D97C2B;
    --accent-color-orange2: #be671b;
    --accent-color-2: #4470B3;
    --accent-color-3: hsl(0, 3%, 15%);
    --accent-color-4: hsla(0, 4%, 10%, 0.856);
    --border-radius: 15px;
    background-color: var(--accent-color-2);
    --border: solid 3px var(--accent-color-3);
    --border2: solid 3px var(--accent-color-4);
    --padding: 40px;
    --border-button: solid 3px var(--accent-color-orange2);
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

.email {
    width: 900px !important;
}










a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input {
    font-family: "Inter Tight", sans-serif;
    margin: 0px;
    color: var(--accent-color-3);
}




h1 {
    font-size: 48px;
    font-weight: 1000;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: var(--accent-color);
}

h3 {
    font-size: 28px;
    font-weight: 800;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    font-weight: 600;
}

h6 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 600;
}

label {
    font-size: 22px;
    font-weight: 700;
}

input {
    font-size: 18px;
    font-weight: 500;

}

button {
    font-size: 18px;
    font-weight: 500;

}









header {
    width: 100%;
    height: 100px;
    background-color: #111111;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}

header a {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    transition: all ease-in-out 0.1s;
}

header a:hover {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    transform: scale(1.1);

}



header nav {
    display: flex;
    gap: 80px;
}

main {
    padding: 60px 100px;
    display: flex;
    gap: 60px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 190px);
}

.logo {
    height: 60px;
}


section {
    width: 100%;
    z-index: 0;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.osnova {
    background-color: #fcfcfc;
    border: var(--border);
    padding: var(--padding);
    border-radius: var(--border-radius);
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}


.osnova2 {
    background-color: #FCFCFC;
    border: var(--border);
    padding: var(--padding);
    border-radius: var(--border-radius);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}

.osnova2 img {
    height: 40px;
}


.osnova3 {
    background-color: #FCFCFC;
    border: var(--border);
    padding: var(--padding);
    border-radius: var(--border-radius);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    justify-content: space-between;
}

.osnova3 img {
    height: 40%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    border: var(--border2);
}

form {
    width: 100%;
}

.gorizontal {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 600px;
    justify-content: space-between;
}

.gorizontal h4 {
    color: var(--accent-color);
}



.vertical {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}



input[type="text"],
[type="date"],
[type="number"],
[type="time"],
[type="email"],
[type="password"],
[type="search"],
[type="range"] {
    height: 50px;
    background-color: var(--primary-color);
    border: var(--border2);
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--accent-color-3);

}

[type="button"],
button {
    height: 50px;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--primary-color);
    border: var(--border-button);
    transition: all ease-in-out 0.2s;
    width: 100%;
}

[type="button"]:hover,
button:hover {
    height: 50px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--accent-color);
    border: var(--border-button);
    width: 100%;
}




.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}

.form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




.osnova h3 {
    color: var(--accent-color);
}

.osnova h2 {
    color: var(--accent-color);
}


.accent {
    color: #ffffff;
}












footer {
    width: 100%;
    height: 100px;
    background-color: #111111;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}

footer nav {
    display: flex;
    gap: 80px;
}

footer a {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    transition: all ease-in-out 0.1s;
}

footer a:hover {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    transform: scale(1.1);

}

.container-kartochki {
    display: flex;

    justify-content: space-between;

}

.checkbox label {
    font-size: 18px;

}


.absolute {
    overflow: hidden;
}


.absolute img {
    height: 200px;

}

.absolute1 {
    position: absolute;
    top: 250px;
    left: -100px;
    z-index: -3;
}

.absolute2 {
    position: absolute;
    z-index: -3;
    top: 500px;
    left: 1680px;
}

.absolute3 {
    position: absolute;
    z-index: -3;
    top: 1000px;
    left: -100px;
}

.absolute4 {
    position: absolute;
    top: 1100px;
    left: -100px;
    z-index: -3;
}

.absolute5 {
    position: absolute;
    z-index: -3;
    top: 1500px;
    left: 1680px;
}

.absolute6 {
    position: absolute;
    z-index: -3;
    top: 2000px;
    left: -100px;
}

.absolute7 {
    position: absolute;
    z-index: 1;
    top: 89%;
    right: 100px;
    height: 600px;
    width: 800px;
    object-fit: cover;
    scale: 1.2;
}

.absolute8 {
    position: absolute;
    z-index: -3;
    top: 2390px;
    right: 420px;
    object-fit: cover;
    scale: 2;
}

.absolute9 {
    position: absolute;
    z-index: -3;
    top: 2390px;
    right: 220px;
    object-fit: cover;
    scale: 2;

}

.ac {
    color: var(--accent-color);
}

.button-not-active {
    height: 50px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--primary-color);
    border: #111111 solid 3px;
    transition: all ease-in-out 0.2s;
    width: 400px;
    position: relative;
    top: 65px;
    color: #111111;

}



.button-not-active:hover {
    height: 50px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--accent-color);
    border: var(--border-button);
    width: 100%;
}

@media (max-width: 500px) {
    header {
        width: 100%;
        height: 100px;
        background-color: #111111;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

    main {
        padding: 20px 20px;
        gap: 20px;
    }

    section div {
        flex-direction: column;
    }

    .gorizontal {
        align-items: start;
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        height: 50px;
    }

    header nav {
        display: none;
        gap: 80px;
    }

    .osnova2 {
        background-color: #FCFCFC;
        border: var(--border);
        padding: var(--padding);
        border-radius: var(--border-radius);
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .osnova {
        background-color: #fcfcfc;
        border: var(--border);
        padding: 30px;
        border-radius: var(--border-radius);
        width: 100%;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    .container-kartochki {
        display: flex;
        justify-content: space-between;
        gap: 20px
    }

    .form {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .form div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .osnova3 {
        background-color: #FCFCFC;
        border: var(--border);
        padding: 20px;
        border-radius: var(--border-radius);
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: space-between;
    }

    .email {
        width: 100% !important;
        margin-bottom: 300px;
    }

    footer {
        height: 100%;
        background-color: #111111;
        align-items: start;
        display: flex;
        flex-direction: column-reverse;
        padding: 40px 40px;
        gap: 60px;
    }

    footer nav {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }


    .checkbox {
        flex-direction: row !important;
    }

    input[type="text"],
    [type="date"],
    [type="number"],
    [type="time"],
    [type="email"],
    [type="password"],
    [type="search"],
    [type="range"] {
        height: 50px;
        background-color: var(--primary-color);
        border: var(--border2);
        border-radius: var(--border-radius);
        padding: 10px;
        color: var(--accent-color-3);
        width: 100%;
    }

    .absolute9 {
        left: 100px;
        position: absolute;
        top: 96%;
        right: 20px;
        object-fit: cover;
        scale: 2;

    }

    .absolute7 {
        top: 95%;
        scale: 0.9;
        right: -40px;
    }


    h1 {
        font-size: 24px;
        font-weight: 1000;
    }

    h2 {
        font-size: 20px;
        font-weight: 900;
        color: var(--accent-color);
    }

    h3 {
        font-size: 18px;
        font-weight: 800;
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
    }

    h5 {
        font-size: 14px;
        font-weight: 600;
    }

    h6 {
        font-size: 12px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        font-weight: 600;
    }

    label {
        font-size: 14px;
        font-weight: 700;
    }

    input {
        font-size: 16px;
        font-weight: 500;

    }

    button {
        font-size: 16px;
        font-weight: 500;
        

    }

}







